body, html {
  height: 100%;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

.sticky-top {
  z-index: 1020; /* Mayor que el de los elementos de Bootstrap por defecto */
}

.goal-list-container {
  padding: 15px;
  height: calc(100vh - 112px);
  overflow-y: auto;
}

.btn-violet-primary {
  background-color: #b6bfff;
  border-color: #b6bfff;
  border-radius: 1.25rem;
}

.btn-violet-primary:hover {
  background-color: #a3a9ff;
  border-color: #adb3ff;
}

.btn-violet-primary:active {
  background-color: #8f95ff;
  border-color: #8f95ff;
}

.btn-violet-primary:focus {
  background-color: #8f95ff;
  box-shadow: 0 0 0 0.2rem rgba(182, 191, 255, 0.5);
}

